<div class="row">
    <div class="col-sm-3 w-25 commande">
        <div class="card bloc2 parametre mb-5 p-2 pb-4">
            <span><i class="fas fa-home"></i> Accueil</span>
            <button type="button" class="btn mb-3">ARRIVAGE</button>
            <button type="button" class="btn">EXPEDITION</button>
        </div>
        <div class="card bloc2 parametre mb-5 p-2 pb-4">
            <span><i class="fas fa-building"></i> Bâtiment de commande</span>
            <button type="button" class="btn mb-3">ARRET D'URGENCE</button>
            <button type="button" class="btn">ALARME</button>
        </div>
        <div class="card bloc2 parametre p-2 pb-4">
            <span><i class="fa fa-cogs" aria-hidden="true"></i> Traitement du grain</span>
            <button type="button" class="btn">NETTOYAGE</button>
        </div>
    </div>
    <div class="cereale col-sm-9">
        <header>
            <h3 class="text-center">Visualisation du parcours des céréales</h3>
        </header>
        <div class="">
            <div class="bloc3">
                <img src="../../assets/Web/img/bloc3.PNG" class="img-fluid" alt="Responsive image">
            </div>
            <div class="bloc1-1">
                <img src="../../assets/Web/img/bloc1.png" class="img" alt="Responsive image">
            </div>
            <div class="bloc1-2">
                <img src="../../assets/Web/img/bloc2.png" class="img-fluid" alt="Responsive image">
            </div>


            <div class="card w-50 div1">
                <div class="card-body">
                    <h5 class="card-title text-center">Pesage</h5>
                    <form>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-6 col-form-label">Poids camion</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="inputPassword">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-6 col-form-label">Poids total</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="inputPassword">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-6 col-form-label">Poids céréales</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="inputPassword">
                            </div>
                        </div>
                        <button class="btn btn-secondary float-right">Enregistrer</button>
                    </form>
                </div>
            </div>

            <div class="card w-50 div2">
                <div class="card-body">
                    <h5 class="card-title text-center">Echantillon de céréales</h5>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Type</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Qualité</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Température</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-6 col-form-label">Taux d'humidité</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <button class="btn btn-secondary float-right">Enregistrer</button>
                </div>
            </div>


        </div>
    </div>

</div>