<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SARL Beuzelin: Gestion utilisateurs</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for Login template -->
  <link rel="stylesheet" type="text/css" href="./Web/css/main.css">

  <!-- Custom styles for Equipment template -->
  <link rel="stylesheet" type="text/css" href="./Web/css/style.default.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="./Web/css/templateStyle.css">

</head>

<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div id="content">
          <nav class="navbar  navbar-expand-lg navbar-light topbar">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img class="logo-app " src="./Web/img/logo.png" alt="logo de l'application">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto modif2">
                  <li class="nav-item modif">
                    <a class="nav-link" href="#">Visualiser équipements</a>
                  </li>
                  <li class="nav-item  modif">
                    <a class="nav-link" href="#">Visualiser parcours des céréales</a>
                  </li>
                  <li class="nav-item  modif">
                    <a class="nav-link" href="#">Traçabilité des céréales</a>
                  </li>
                </ul>
              </div>
              <ul class="navbar-nav ml-auto modifier">
                <div class="topbar-divider d-none d-sm-block"></div>
                <li class="nav-item dropdown no-arrow ">
                  <a class=" nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline small">DUPONT Jean</span>
                    <span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                    <p><i class="fas fa-user-circle"></i></p>
                  </a>

                  <!-- Dropdown -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/">
                      <i class="fas fa-users-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                      Gestion des utilisateurs
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/logout">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Déconnexion
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>

          <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-2 text-gray-900">Visualisation des équipements</h1>
            </div>

              <div class="card-deck mb-3" >

                <div class="card shadow">
                    <img src="./Web/img/nettoyeur.png"  class="image card-img-top" alt="Nettoyeur Séparateur">

                    <div class="overlay">
                      <ul class="text">
                        <li class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau du convoyeur</li>
                        <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau du convoyeur</li>
                        <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau du convoyeur</li> 
                      </ul>
                    <button type="button" class="btn btn-success btn-sm fiche"><i class=" fas fa-plus"></i> <small>VOIR FICHE ENTRETIEN</small></button>
                    </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Nettoyeur Séparateur</small>
                    <i class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i>
                  </div>
                </div>
               


                <div class="card shadow">
                  <img class="image card-img-top" src="./Web/img/silo.jpg" alt="Silo">
                  <div class="overlay">
                    <ul class="text">
                      <li class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau du silo</li>
                      <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau du silo</li>
                      <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau du silo</li> 
                    </ul>
                    <button type="button" class="btn btn-success btn-sm fiche"><i class=" fas fa-plus"></i> <small>VOIR FICHE ENTRETIEN</small></button>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Silo</small>
                    <i class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i>
                  </div>
                </div>

                <div class="card shadow">
                  <img class="image card-img-top" src="./Web/img/boisseau.jpg" alt="Boisseaux de chargement">
                  <div class="overlay">
                    <ul class="text">
                      <li class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau des boisseaux</li>
                      <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau des boisseaux</li>
                      <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau des boisseaux</li> 
                    </ul>
                    <button type="button" class="btn btn-success btn-sm fiche"><i class=" fas fa-plus"></i> <small>VOIR FICHE ENTRETIEN</small></button>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Boisseaux de chargement</small>
                    <i class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i>
                  </div>

                </div>

              </div>

              <div class="card-deck">
                <div class="card shadow">
                  <img class="image card-img-top" src="./Web/img/roulage.jpg" alt="Grille de roulage">
                  <div class="overlay">
                    <ul class="text">
                      <li class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau du roulage</li>
                      <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau du roulage</li>
                      <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau du roulage</li> 
                    </ul>
                    <button type="button" class="btn btn-success btn-sm fiche"><i class=" fas fa-plus"></i> <small>VOIR FICHE ENTRETIEN</small></button>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Grille de roulage</small>
                    <i class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i>
                  </div>
                </div>


                <div class="card shadow">
                  <img class="image card-img-top" src="./Web/img/tremie.jpg" alt="Trémie de reception">
                  <div class="overlay">
                    <ul class="text">
                      <li class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau du trémie</li>
                      <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau du trémie</li>
                      <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau du trémie</li> 
                    </ul>
                    <button type="button" class="btn btn-success btn-sm fiche"><i class=" fas fa-plus"></i> <small>VOIR FICHE ENTRETIEN</small></button>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Trémie de reception</small>
                    <i class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i>

                  </div>
                </div>

                <div class="card shadow">
                  <img class=" image card-img-top" src="./Web/img/elevateur.png" alt="Élevateur à godets ">
                  <div class="overlay">
                    <ul class="text">
                      <li class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau de l'élevateur</li>
                      <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau de l'élevateur</li>
                      <li class="h6"><i class='fas fa-times-circle text-danger'></i> Panne au niveau de l'élevateur</li> 
                    </ul>
                    <button type="button" class="btn btn-success btn-sm fiche"><i class=" fas fa-plus"></i> <small>VOIR FICHE ENTRETIEN</small></button>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Élevateur à godets</small>
                    <i class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i>

                  </div>
                </div>

              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- Footer -->
<footer class="page-footer font-small py-3 mt-4 bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white">© 2020 Copyright:
    <span href="#"> Beuzelin SARL</span>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

  <!-- Javascript files-->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>