
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-2 text-gray-900">Visualisation des équipements</h1>
            </div>

            <div *ngIf="equipmentsLoaded | async">
              <div class="card-deck mb-3" >

                <div class="card shadow">
                    <img src="../../assets/Web/img/nettoyeur.png"  class="image card-img-top" alt="Nettoyeur Séparateur">

                    <div class="overlay">
                      <ul class="text">
                        <li class="h6"><i class='fas '></i> Température : {{equipements[getindexEquipment('Nettoyeur_Separateur')].variable.temperature}} ; Humidité : {{equipements[getindexEquipment('Nettoyeur_Separateur')].variable.humidite}}</li> 
                        <li class="h6"><i class='fas '></i> Poussière : {{equipements[getindexEquipment('Nettoyeur_Separateur')].variable.poussiere}} ; Taux insecticide : {{equipements[getindexEquipment('Nettoyeur_Separateur')].variable.insecticide}}</li> 
                        <li *ngIf="equipements[getindexEquipment('Nettoyeur_Separateur')].etat == 0" class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau du nettoyeur séparateur</li>
                      </ul>
                    <button *ngIf="equipements[getindexEquipment('Nettoyeur_Separateur')].etat == 0" type="button" class="btn btn-success btn-sm fiche" (click)="selectEquipment(equipements[getindexEquipment('Nettoyeur_Separateur')])"><i class=" fas fa-plus"></i> <small> VOIR FICHE ENTRETIEN</small></button>
                    </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Nettoyeur Séparateur</small>
                    <i *ngIf="equipements[getindexEquipment('Nettoyeur_Separateur')].etat == 0" class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i *ngIf="equipements[getindexEquipment('Nettoyeur_Separateur')].etat == 1" class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i> 
                  </div>
                </div>
               


                <div class="card shadow">
                  <img class="image card-img-top" src="../../assets/Web/img/silo.jpg" alt="Silo">
                  <div class="overlay">
                    <ul class="text">
                      <li class="h6"><i class='fas '></i> Température : {{equipements[getindexEquipment('Silo')].variable.temperature}} ; Humidité : {{equipements[getindexEquipment('Silo')].variable.humidite}}</li> 
                      <li class="h6"><i class='fas '></i> Poussière : {{equipements[getindexEquipment('Silo')].variable.poussiere}} ; Taux insecticide : {{equipements[getindexEquipment('Silo')].variable.insecticide}}</li> 
                      <li *ngIf="equipements[getindexEquipment('Silo')].etat == 0" class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau du silo</li>
                    </ul>
                    <button *ngIf="equipements[getindexEquipment('Silo')].etat == 0" type="button" class="btn btn-success btn-sm fiche" (click)="selectEquipment(equipements[getindexEquipment('Silo')])"><i class=" fas fa-plus"></i> <small> VOIR FICHE ENTRETIEN</small></button>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Silo</small>
                    <i *ngIf="equipements[getindexEquipment('Silo')].etat == 0" class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i *ngIf="equipements[getindexEquipment('Silo')].etat == 1" class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i> 
                  </div>
                </div>

                <div class="card shadow">
                  <img class="image card-img-top" src=".../../assets/Web/img/boisseau.jpg" alt="Boisseaux de chargement">
                  <div class="overlay">
                    <ul class="text">
                      <li class="h6"><i class='fas '></i> Température : {{equipements[getindexEquipment('Boisseaux')].variable.temperature}} ; Humidité : {{equipements[getindexEquipment('Boisseaux')].variable.humidite}}</li> 
                      <li class="h6"><i class='fas '></i> Poussière : {{equipements[getindexEquipment('Boisseaux')].variable.poussiere}} ; Taux insecticide : {{equipements[getindexEquipment('Boisseaux')].variable.insecticide}}</li> 
                      <li *ngIf="equipements[getindexEquipment('Boisseaux')].etat == 0" class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau des boisseaux</li>
                    </ul>
                    <button *ngIf="equipements[getindexEquipment('Boisseaux')].etat == 0" type="button" class="btn btn-success btn-sm fiche" (click)="selectEquipment(equipements[getindexEquipment('Boisseaux')])"><i class=" fas fa-plus"></i> <small> VOIR FICHE ENTRETIEN</small></button>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Boisseaux de chargement</small>
                    <i *ngIf="equipements[getindexEquipment('Boisseaux')].etat == 0" class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i *ngIf="equipements[getindexEquipment('Boisseaux')].etat == 1" class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i> 
                  </div>

                </div>
             </div>

              <div class="card-deck">
                <div class="card shadow">
                  <img class="image card-img-top" src="../../assets/Web/img/roulage.jpg" alt="Grille de roulage">
                  <div class="overlay">
                    <ul class="text">
                      <li class="h6"><i class='fas '></i> Température : {{equipements[getindexEquipment('Grille_Roulage')].variable.temperature}} ; Humidité : {{equipements[getindexEquipment('Grille_Roulage')].variable.humidite}}</li> 
                      <li class="h6"><i class='fas '></i> Poussière : {{equipements[getindexEquipment('Grille_Roulage')].variable.poussiere}} ; Taux insecticide : {{equipements[getindexEquipment('Grille_Roulage')].variable.insecticide}}</li> 
                      <li *ngIf="equipements[getindexEquipment('Grille_Roulage')].etat == 0" class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau du roulage</li>
                    </ul>
                    <button *ngIf="equipements[getindexEquipment('Grille_Roulage')].etat == 0" type="button" class="btn btn-success btn-sm fiche" (click)="selectEquipment(equipements[getindexEquipment('Grille_Roulage')])"><i class=" fas fa-plus"></i> <small> VOIR FICHE ENTRETIEN</small></button>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Grille de roulage</small>
                    <i *ngIf="equipements[getindexEquipment('Grille_Roulage')].etat == 0" class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i *ngIf="equipements[getindexEquipment('Grille_Roulage')].etat == 1" class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i> 
                  </div>
                </div>


                <div class="card shadow">
                  <img class="image card-img-top" src="../../assets/Web/img/tremie.jpg" alt="Trémie de reception">
                  <div class="overlay">
                    <ul class="text">
                      <li class="h6"><i class='fas '></i> Température : {{equipements[getindexEquipment('Tremie')].variable.temperature}} ; Humidité : {{equipements[getindexEquipment('Tremie')].variable.humidite}}</li> 
                      <li class="h6"><i class='fas '></i> Poussière : {{equipements[getindexEquipment('Tremie')].variable.poussiere}} ; Taux insecticide : {{equipements[getindexEquipment('Tremie')].variable.insecticide}}</li> 
                      <li *ngIf="equipements[getindexEquipment('Tremie')].etat == 0" class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau du trémie</li>
                    </ul>
                    <button *ngIf="equipements[getindexEquipment('Tremie')].etat == 0" type="button" class="btn btn-success btn-sm fiche" (click)="selectEquipment(equipements[getindexEquipment('Tremie')])"><i class=" fas fa-plus"></i> <small> VOIR FICHE ENTRETIEN</small></button>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Trémie de reception</small>
                    <i *ngIf="equipements[getindexEquipment('Tremie')].etat == 0" class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i *ngIf="equipements[getindexEquipment('Tremie')].etat == 1" class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i> 

                  </div>
                </div>

                <div class="card shadow">
                  <img class=" image card-img-top" src="../../assets/Web/img/elevateur.png" alt="Élevateur à godets ">
                  <div class="overlay">
                    <ul class="text">
                      <li class="h6"><i class='fas '></i> Température : {{equipements[getindexEquipment('Elevateur')].variable.temperature}} ; Humidité : {{equipements[getindexEquipment('Elevateur')].variable.humidite}}</li> 
                      <li class="h6"><i class='fas '></i> Poussière : {{equipements[getindexEquipment('Elevateur')].variable.poussiere}} ; Taux insecticide : {{equipements[getindexEquipment('Elevateur')].variable.insecticide}}</li> 
                      <li *ngIf="equipements[getindexEquipment('Elevateur')].etat == 0" class="h6"> <i class='fas fa-times-circle text-danger'></i> Panne au niveau de l'élevateur</li>
                    </ul>
                    <button *ngIf="equipements[getindexEquipment('Elevateur')].etat == 0" type="button" class="btn btn-success btn-sm fiche" (click)="selectEquipment(equipements[getindexEquipment('Elevateur')])"><i class=" fas fa-plus"></i> <small> VOIR FICHE ENTRETIEN</small></button>
                  </div>
                  <div class="card-body">
                  </div>
                  <div class="card-footer">
                    <small class="h6 text-center">Élevateur à godets</small>
                    <i *ngIf="equipements[getindexEquipment('Elevateur')].etat == 0" class='fas fa-times-circle text-danger float-right' style="font-size: 30px;"></i>
                    <i *ngIf="equipements[getindexEquipment('Elevateur')].etat == 1" class='fas fa-check-circle text-success float-right' style="font-size: 30px;"></i> 

                  </div>
                </div>

              </div>
              
            </div>
              <app-add-fiche-entretien *ngIf="selectedEquipment" [equipmentChoisi]="selectedEquipment" (update)="updateEquipement($event)"></app-add-fiche-entretien>
      
            

            
            



     
