<div class="silos">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-900">Visualisation des silos</h1>
</div>
<div class="row">
    <div class="col-sm-2">
      <div class=" card bloc2 parametre">
        <span><i class="fas fa-cogs"></i> Traitement du grain</span>
        <button type="button" class="btn"><small>VENTILATION</small> </button>
        <button type="button" class="btn"> <small>PRODUIT INSECTICIDE</small> </button>
      </div>
    </div>
    <div class="col-sm-10 reglage">
      <div class="row">
        <div class=" silo col-12 col-sm-5 col-md-3">
          <div class="bloc1">
            <div class="quantite-cereale"></div>
          </div>
          <div class=" card bloc2 shadow">
            <span> Cellule 1</span>
            <div class="temperature"><p>Température : <span>15°</span></p></div>
            <div class="type-grain"><p>Type grain :   <span>Blé</span></p></div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">A expédier</label>
            </div>
          </div>
        </div>
        <div class=" silo col-12 col-sm-5 col-md-3">
          <div class="bloc1">
            <div class="quantite-cereale"></div>
          </div>
          <div class=" card bloc2 shadow">
            <span> Cellule 2</span>
            <div class="temperature"><p>Température : <span>15°</span></p></div>
            <div class="type-grain"><p>Type grain :   <span>Blé</span></p></div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">A expédier</label>
            </div>
          </div>
        </div>
        <div class=" silo col-12 col-sm-5 col-md-3">
          <div class="bloc1">
            <div class="quantite-cereale"></div>
          </div>
          <div class=" card bloc2 shadow">
            <span> Cellule 3</span>
            <div class="temperature"><p>Température : <span>15°</span></p></div>
            <div class="type-grain"><p>Type grain :   <span>Blé</span></p></div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">A expédier</label>
            </div>
          </div>
        </div>
        <div class=" silo col-12 col-sm-5 col-md-3">
          <div class="bloc1">
            <div class="quantite-cereale"></div>
          </div>
          <div class=" card bloc2 shadow">
            <span> Cellule 4</span>
            <div class="temperature"><p>Température : <span>15°</span></p></div>
            <div class="type-grain"><p>Type grain :   <span>Blé</span></p></div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">A expédier</label>
            </div>
            </div>
          </div>
          <div class=" silo col-12 col-sm-5 col-md-3">
            <div class="bloc1">
              <div class="quantite-cereale"></div>
            </div>
            <div class=" card bloc2 shadow">
              <span> Cellule 5</span>
              <div class="temperature"><p>Température : <span>15°</span></p></div>
              <div class="type-grain"><p>Type grain :   <span>Blé</span></p></div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">A expédier</label>
              </div>
            </div>
          </div>
          <div class=" silo col-12 col-sm-5 col-md-3">
            <div class="bloc1">
              <div class="quantite-cereale"></div>
            </div>
            <div class=" card bloc2 shadow">
              <span> Cellule 6</span>
              <div class="temperature"><p>Température : <span>15°</span></p></div>
              <div class="type-grain"><p>Type grain :   <span>Blé</span></p></div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">A expédier</label>
              </div>
            </div>
          </div>
          <div class=" silo col-12 col-sm-5 col-md-3">
            <div class="bloc1">
              <div class="quantite-cereale"></div>
            </div>
            <div class=" card bloc2 shadow">
              <span> Cellule 7</span>
              <div class="temperature"><p>Température : <span>15°</span></p></div>
              <div class="type-grain"><p>Type grain :   <span>Blé</span></p></div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">A expédier</label>
              </div>
            </div>
          </div>
          <div class=" silo col-12 col-sm-5 col-md-3">
            <div class="bloc1">
              <div class="quantite-cereale"></div>
            </div>
            <div class=" card bloc2 shadow">
              <span> Cellule 8</span>
              <div class="temperature"><p>Température : <span>15°</span></p></div>
              <div class="type-grain"><p>Type grain :   <span>Blé</span></p></div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">A expédier</label>
              </div>
            </div>
          </div>
          <div class=" silo col-12 col-sm-5 col-md-3">
            <div class="bloc1">
              <div class="quantite-cereale"></div>
            </div>
            <div class=" card bloc2 shadow">
              <span> Cellule 9</span>
              <div class="temperature"><p>Température : <span>15°</span></p></div>
              <div class="type-grain"><p>Type grain :   <span>Blé</span></p></div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">A expédier</label>
              </div>
            </div>
          </div>
          <div class=" silo col-12 col-sm-5 col-md-3">
            <div class="bloc1">
              <div class="quantite-cereale"></div>
            </div>
            <div class=" card bloc2 shadow">
              <span> Cellule 10</span>
              <div class="temperature"><p>Température : <span>15°</span></p></div>
              <div class="type-grain"><p>Type grain :   <span>Blé</span></p></div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">A expédier</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
